[submodule "submodules/vlGui"]
	path = submodules/vlGui
	url = git@github.com:emvalon/vlGui.git
[submodule "submodules/flexibleButton"]
	path = submodules/flexibleButton
	url = https://gitee.com/RT-Thread-Mirror/FlexibleButton.git
